<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Login Page </h1>

    <button onclick="window.location.href = 'http://localhost:8000/templates/main/signup.html'">Sign Up</button><br><br>

    <form>
        <label>Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label>Password</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>


</body>
</html>
